*.sln
*.vcxproj
*.filters
*.user
*.sdf
*.opensdf
*.suo
*.log
*.txt
*.cmd
*.ext
*.bak 
*.nvuser
*.lib
*.obj
*.tlog/
*.pdb
.project
.cproject
*.args

/.settings/
\debug\
\release\
/build/
/build2
x86\
x64\
RandomHash_DEV

